@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  
  --color-background-light: #ffffff;
  --color-background-dark: #0f172a;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900;
  }
}
